// Custom Color Palette
$color-background: #ffead8;
$color-accent: #e8988a;
$color-primary: #9b177e;
$color-deep: #2a1458;
$color-text: #2a1458;

// Utility Classes
.bg-custom {
  background-color: $color-background !important;
}
.text-custom {
  color: $color-text !important;
}
.btn-custom {
  background-color: $color-primary;
  color: white;
  border: none;

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}

.navbar {
  background-color: $color-accent !important;
  padding: 12px 24px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: $color-text;
  font-weight: 600;
  height: 100%;

  &:hover {
    color: $color-primary;
    text-decoration: underline;
    background-color: $color-deep;
  }
}
