:root {
  --color-background: #fbf7f0;
  --color-accent: #e07a5f;
  --color-primary: #4a4a4a;
  --color-deep: #2e2e2e;
  --color-text: #333333;
  --color-muted: #a89f91;
  --color-highlight: #81b29a;
  --color-link: #3d405b;
}

// Custom Color Palette
$color-background: #fbf7f0; // Very light cream
$color-accent: #e07a5f; // Warm terracotta
$color-primary: #4a4a4a; // Medium charcoal • headlines, buttons
$color-deep: #2e2e2e; // Dark charcoal • footers, overlays
$color-text: #333333; // Soft black • body copy
$color-muted: #a89f91; // Muted taupe • subtitles, metadata
$color-highlight: #81b29a; // Sage green • badges, highlights
$color-link: #3d405b; // Deep desaturated indigo • links/icons

// Utility Classes
.btn {
  background-color: $color-accent;
  color: white;
  border: none;

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}
/*
.bg-custom {
  background-color: $color-background !important;
}
.text-custom {
  color: $color-text !important;
}
.btn-custom {
  background-color: $color-primary;
  color: white;
  border: none;

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}
*/

// Navbar
.navbar {
  height: 90px;
  background-color: $color-deep;
  padding: 0px 150px;
}

.nav-link {
  color: $color-highlight;
  font-weight: 600;
  height: 90px;

  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.5s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: $color-deep;
    transition: width 0.5s ease;
  }

  &:hover {
    color: $color-text;
    background-color: $color-highlight;

    &::after {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
    height: auto;
  }

  .nav-link {
    height: auto;
    padding: 10px 0;
    justify-content: flex-start;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-collapse {
    padding-top: 10px;
  }
}

// Layouts
// DefaultLayout
.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-container {
  flex: 1;
  padding-top: 110px;
  background-color: $color-background;
  border-left: 1px solid $color-highlight;
  border-right: 1px solid $color-highlight;
}

// Cards
.text-container-overlay {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 10%;
}
