// Custom Color Palette
$color-background: #fbf7f0; // Very light cream
$color-accent: #e07a5f; // Warm terracotta
$color-primary: #4a4a4a; // Medium charcoal • headlines, buttons
$color-deep: #2e2e2e; // Dark charcoal • footers, overlays
$color-text: #333333; // Soft black • body copy
$color-muted: #a89f91; // Muted taupe • subtitles, metadata
$color-highlight: #81b29a; // Sage green • badges, highlights
$color-link: #3d405b; // Deep desaturated indigo • links/icons

// Utility Classes
.bg-custom {
  background-color: $color-background !important;
}
.text-custom {
  color: $color-text !important;
}
.btn-custom {
  background-color: $color-primary;
  color: white;
  border: none;

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}

// Navbar
.navbar {
  height: 90px;
  background-color: $color-deep;
  padding: 0px 150px;
}

.nav-link {
  color: $color-highlight;
  font-weight: 600;
  height: 90px;

  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.5s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: $color-deep;
    transition: width 0.5s ease;
  }

  &:hover {
    color: $color-text;
    background-color: $color-highlight;

    &::after {
      width: 100%;
    }
  }
}
